* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

a {
    text-decoration: none;
}

.container {
    width: 1144px;
    margin: 0 auto;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* ==============  header section start here =========== */
header {
    background: #282828;
    padding: 18px 0;
    border-bottom: 5px solid #FFB800;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_text {
    display: flex;
    gap: 27px;
    font-weight: 400;
    font-size: 12px;
}

.mail {
    padding-right: 23px;
    border-right: 1px solid #5C6A92;
}

.header_text_icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header_text_icon a {
    color: #fff;
}

.header_text_icon i {
    color: #fff;
    font-size: 17px;
}

.header_icons ul {
    display: flex;
    gap: 20px;
}

.header_icons ul li a i {
    color: #fff;
    font-size: 17px;
}

.header_icons ul li a i:hover {
    opacity: 0.8;
}

/* ==============  header section end here =========== */


/* ==============  nav section start here =========== */
nav {
    background: #F40404;
    padding: 27px 0;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 72px;
    text-transform: uppercase;
}

.menu a {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    transition: all linear 0.3s;
}

.menu>ul>li>a:hover {
    opacity: 0.8;
}

.menu ul {
    display: flex;
    gap: 47px;
    align-items: center;
}

.menu_link a {
    display: inline-block;
    padding: 14px 31px;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #fff;
    transition: all linear 0.3s;
}

/* ==============  nav section end here =========== */


/* ==============  banner section start here =========== */
#banner {
    padding: 258px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../public/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_text {
    width: 842px;
    margin-bottom: 31px;
}

.banner_text h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #fff;
}

.common_link a {
    display: inline-block;
    color: #fff;
    padding: 14px 41px;
    background: #F40404;
    text-transform: uppercase;
    transition: all linear 0.3s;
}

.common_link a:hover {
    opacity: 0.8;
}

/* ==============  banner section end here =========== */


/* ==============  supplier section start here =========== */
#supplier {
    background: #fff;
    padding: 78px 0 100px 0;
}

.supplier_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.supplier_text h2 {
    line-height: 72px;
    font-size: 48px;
    font-weight: 700;
    width: 289px;
}

.supplier_text p {
    width: 651px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

/* ==============  supplier section end here =========== */


/* ==============  gallery section start here =========== */
#gallery {
    background: #fff;
    margin: 20px 0;
}

.gallery_wrapper {
    display: flex;
    /* gap: 1%; */
    gap: 30px;
    /* flex-wrap: wrap; */
}

.gallery_img {
    /* width: 450px; */
    width: 25%;
    height: 426px;
}

.gallery_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ==============  gallery section end here =========== */


/* ==============  service section start here =========== */
#service {
    background: #fff;
    padding: 36px 0 128px 0;
}

.service_main {
    display: flex;
    flex-wrap: wrap;
}

.service_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service_text h2 {
    width: 509px;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
}

.service_text p {
    width: 405px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.service_img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(service1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    padding: 147px 0 139px 116px;
}

.service_img .common_link a {
    padding: 14px 30px;
}

.service_img_two {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(service2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service_img_three {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(service3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service_img h3 {
    color: #fff;
    margin-bottom: 19px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

/* ==============  service section end here =========== */


/* ==============  About company section start here =========== */
#company {
    background: #F0F0F0;
    padding: 136px 0;
}

#company .container {}

.company_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.company_text {
    width: 415px;
    padding: 100px 77px;
    background: #F40404;
    height: 361px;
}

.company_text h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #fff;
}

.company_img {
    height: 361px;
    Width: 729px;
    background: url(about1.jpg);
    padding: 168px 282px 142px 282px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.company_img .common_link a {
    display: inline-block;
    background: #fff;
    color: #F40404;
    padding: 14px 30px;
}

/* ==============  About company section end here =========== */


/* ==============  sponsor section start here =========== */
#sponsor {
    background: #fff;
    padding: 116px 0;
}

.sponsor_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ==============  sponsor section end here =========== */


/* ==============  blog section start here =========== */
#blog {
    background: #F0F0F0;
    padding: 50px 0;
}

.blog_wrapper {
    display: flex;
    gap: 62px;
    flex-wrap: wrap;
}

.blog_img {
    position: relative;
    height: 401px;
    width: 339px;
}

.blog_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog_overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 75px 44px 55px 46px;
}

.blog_overlay p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
}

.blog_overlay .common_link a {
    padding: 10px 22px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 52px;
}

.blog_more {
    text-align: right;
    margin-top: 28px;
}

.blog_more a {
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.blog_more a:hover {
    opacity: 0.9;
}

.blog_more a i {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

/* ==============  blog section end here =========== */

/* ==============  branch section start here =========== */
#branch {
    background: #F40404;
    padding: 47px 0;
    border-bottom: 5px solid #FFB800;
}

.menu_link a:hover {
    background: #fff;
    color: #F40404;
}

.branch_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branch_text h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

/* ==============  branch section end here =========== */
#map {
    background: rgb(145, 141, 141);
    height: 450px;
    width: 100%;
    margin: 20px 0;
}

/* ==============  footer section start here =========== */
#footer {
    background: #1F1F1F;
    padding: 149px 0 170px 0;
    color: #fff;
}

#footer a {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 15px;
}

#footer a:hover {
    opacity: 0.8;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer_contact {
    width: 334px;
}

.footer_contact i {
    margin-right: 5px;
}

.footer_contact span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.footer_icons {
    margin-top: 34px;
}

.footer_icons ul {
    display: flex;
    gap: 12px;
}

.footer_icons ul li a i {
    height: 29px;
    width: 29px;
    background: #F40404;
    border-radius: 50%;
    line-height: 29px;
    text-align: center;
    font-size: 16px;
    transition: all linear 0.3s;
}

.footer_icons ul li a i:hover {
    opacity: 0.7;
}

.footer_logo {
    margin-bottom: 31px;
}

.footer_company {
    width: 173px;
}

.others {
    width: 173px;
}

.certificate {
    width: 225px;
}

.footer_heading {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* ==============  footer section end here =========== */

/* ==============  copyright section start here =========== */
#copyright {
    background: #282828;
    padding: 43px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #6C6C6C;
}

/* ==============  copyright section end here =========== */